

{{#if success_msg}}
    <p>{{ success_msg }}</p>
{{/if}}

<div class="profile main-grid-container">
    <div class="profile main-grid-item"></div>
    <div class="profile main-grid-item addItem">
        <h1>Create outfit & add Items</h1>
        <div class="profile add-select">
            <h2 class="profile addItem-title" onclick="showItem()">Add Item</h2> 
            <h2 class="profile addOutfit-title" style="text-decoration-color:black;" onclick="showOutfit()">add Outfit</h2>
        </div> 
            <form action="/dashboard/addItem" method="POST">
                <p class="profile addItem-text">What type of clothing is it?</p>
                <div class="profile dropdown-container">
                <select class="profile addItem-dropdown input" type="text" name="type" id="">
                    <option value="Accessories">Accessories</option>
                    <option value="Hats">Hats</option>
                    <option value="Outerwear">Outerwear</option>
                    <option value="Tops">Tops</option>
                    <option value="Bottoms">Bottoms</option>
                    <option value="FullBody">Full Body</option>
                    <option value="Shoes">Shoes</option>
                </select>
                </div>
                <p class="profile addItem-text">what brand is it?</p>
                <input class="profile addItem-brand input" type="text" name="brand" placeholder=" i.e. nike" id="" required>

                <p class="profile addItem-text">what's the name?</p>
                <input class="profile addItem-name input" type="text" name="itemName" placeholder=" i.e. airforce 1's " id=""required>
                <br>
                <input class="profile submit item" type="submit" value="Add Item" class="">
            </form>

            <div class="profile main-grid-item addOutfit">
                    <form action="/dashboard/addOutfit" method="POST" enctype="multipart/form-data">
                        <div class="profile p-image-upload">
                            <label for="file-input">
                                <img class="profileImgUpload" src="https://res.cloudinary.com/db8tnyh6d/image/upload/v1590428149/clothing-users-app/Add_Photo_wip2xb.svg"/>
                            </label>
                            <input id="file-input" name="file" type="file" onchange="readURL(this);"/>
                            <p style="color: red;" class="profile addOutfit-text"> <i>jpeg</i> or <i>png</i> images only!</p>
                        </div>
                        <p class="profile addOutfit-text">Accessories:</p>
                        <select class="profile addItem-dropdown input" type="text" name="Accessories" id="accessorieSelect">
                            <option value="none">None</option>
                        </select>
                        <p class="profile addOutfit-text">Hat:</p>
                        <select class="profile addItem-dropdown input" type="text" name="Hats" id="hatSelect">
                            <option value="none">None</option>
                        </select>

                        <p class="profile addOutfit-text">Outerwear:</p>
                        <select class="profile addItem-dropdown input" type="text" name="Outerwear" id="outerwearSelect">
                            <option value="none">None</option>
                        </select>

                        <p class="profile addOutfit-text">Top:</p>
                        <select class="profile addItem-dropdown input" type="text" name="Tops" id="topSelect">
                            <option value="none">None</option>
                        </select>

                        <p class="profile addOutfit-text">Bottom:</p>
                        <select class="profile addItem-dropdown input" type="text" name="Bottoms" id="bottomSelect">
                            <option value="none">None</option>
                        </select>

                        <p class="profile addOutfit-text">Full Body:</p>
                        <select class="profile addItem-dropdown input" type="text" name="FullBody" id="fullbodySelect">
                            <option value="none">None</option>
                        </select>

                        <p class="profile addOutfit-text">Shoes:</p>
                        <select class="profile addItem-dropdown input" type="text" name="Shoes" id="shoeSelect">
                            <option value="none">None</option>
                        </select>
                        <br>
                        <input class="profile submit outfit" type="submit" value="Make Outfit" class="">
                    </form>
            </div>
        </div>

        


    
    {{!-- <p>Welcome {{name}}</p> --}}
    <div class="profile main-grid-item profile-part">
        <div class="profile info-container">
            <div class='profile profilepic-div'>
                <img class='profile-profile-image' src='{{img}}' alt=''>
            </div>
            <div class='profile post-amount'></div>
            <div class='profile item-amount'></div>
        </div>
        <p class='profile name'>{{name}}</p>
        <p class='profile username'>@{{userName}}</p>
        <div class="profile view-choice">
            <p class="profile showUserItems" onclick="showProfileOutfits()">Outfits</p>
            <p class="profile showUserOutfits" onclick="showWardrobeOutfits()">Wardrobe</p>
        </div>
        <div id="outfitList" class="profile outfit-list-container"></div>
        <div id="clothesList" class="row"></div>
    </div>

    <div class="profile main-grid-item profile-part"></div>

</div>



<script>


        showProfileOutfits();
        
        function showProfileOutfits(){
            document.querySelector('.profile.showUserOutfits').innerHTML = 'Wardrobe';
            document.querySelector('.profile.showUserItems').innerHTML = 'Outfits.';
            document.querySelector('#clothesList').style.display = 'none';
            document.querySelector('.profile.outfit-list-container').style.display = 'grid';
            document.querySelector('.profile.showUserOutfits').style.fontStyle = 'normal'; 
            document.querySelector('.profile.showUserItems').style.fontStyle = 'italic'; 
        }

        function showWardrobeOutfits(){
            document.querySelector('.profile.showUserOutfits').innerHTML = 'Wardrobe.';
            document.querySelector('.profile.showUserItems').innerHTML = 'Outfits';
            document.querySelector('.profile.showUserOutfits').style.fontStyle = 'italic'; 
            document.querySelector('.profile.showUserItems').style.fontStyle = 'normal'; 
            document.querySelector('.profile.outfit-list-container').style.display = 'none';
            document.querySelector('#clothesList').style.display = 'initial';
        }




    document.getElementById("file-input").onchange = function () {
        var reader = new FileReader();
        reader.onload = function (e) {
            // get loaded data and render thumbnail.
            document.querySelector(".profileImgUpload").src = e.target.result;
            document.querySelector(".profileImgUpload").style.height = "200px";
            document.querySelector(".profileImgUpload").style.left = "0";
        };
        reader.readAsDataURL(this.files[0]);
        var cropFile = this.files[0];
    };

    document.addEventListener('load', showItem());

    function showItem(){   
        document.querySelector('.profile.main-grid-item.addOutfit').style.display = 'none';
        document.querySelector('.profile.main-grid-item.addItem form').style.display = 'initial';

        document.querySelector('.addItem-title').style.transitionDuration = '0.4s';
        document.querySelector('.addItem-title').style.border = '2px solid black';
        document.querySelector('.addOutfit-title').style.border = 'none';    
    }

    function showOutfit(){
        document.querySelector('.profile.main-grid-item.addItem form').style = 'display:none';
        document.querySelector('.profile.main-grid-item.addOutfit').style.display = 'initial';

            document.querySelector('.addOutfit-title').style.transitionDuration = '0.4s';
            document.querySelector('.addItem-title').style.border = 'none';
            document.querySelector('.addOutfit-title').style.border = '2px solid black';
    }

const idNames = ['accessorieSelect', 'hatSelect', 'outerwearSelect', 'topSelect', 'bottomSelect', 'fullbodySelect', 'shoeSelect'];
//This Script makes a fetch (essential a GET Http) request to the server
const clothesAmount = document.getElementById('post-amount');
const clothesList = document.getElementById('clothesList');
fetch('/dashboard/getClothes')
    .then(res => res.json())
    .then((item) => {
        //clothesAmount.innerHTML = item.length
        //.map() is used to cycle through the array, and a template literal is used to return HTML for
        //each item in the array. We call these contact, and we can access items inside each contact, using contact.NAMEOFITEM. InnerHTML is then used to parse the returned HTML to the contactList object
        let dataFeed = item.map((item) => {
            return `
            <br>
            <a href="https://www.google.com/search?btnG=1&pws=0&q=${item.brand} ${item.itemName}" target="_blank">
            <div class="profile wardrobe-item">
                <p class="profile pt p-type">${item.type}</p>
                <p class="profile pt p-brand">${item.brand}</p>
                <p class="profile pt p-name">${item.itemName}</p>
            </div>
            </a>
        `
        }).join('');
        //console.log(dataFeed)
        clothesList.innerHTML = dataFeed;
        outfitSelect(item);
    })
    .catch(err => { throw err });



//  
// 
// 

function deleteOutfit(id){
    if(document.querySelector(`.profile.img-delete${id}`).innerHTML == 'X'){
        //console.log(id)
        document.querySelector(`.profile.img-delete${id}`).innerHTML = 'Delete';
        document.querySelector(`.profile.img-delete-Cancel${id}`).style.display = 'initial';
    } else {
        window.location.href = `/dashboard/deleteOutfit/${id}`
    }
}


function deleteOutfitCancel(id){
    //if(document.querySelector(`.profile.img-delete${id}`).innerHTML == 'X'){
        //console.log(id)
        document.querySelector(`.profile.img-delete${id}`).innerHTML = 'X';
        document.querySelector(`.profile.img-delete-Cancel${id}`).style.display = 'none';
    //} else {
        //window.location.href = `/delete/${id}`
    //}
}

const itemAmount = document.getElementById('item-amount');
//This Script makes a fetch (essential a GET Http) request to the server
const outfitList = document.getElementById('outfitList');
fetch('/dashboard/getOutfits')
    .then(res => res.json())
    .then((outfits) => {
        var i = 0;
        clothesNum = outfits.length;
        var dataFeed;
        dataFeed = outfits.map((outfit) => {
            var currSend = ``;
            if(outfit[7].URL != 'none'){
                currSend += `<div class="profile img-container">`;
                currSend += `<button onclick='deleteOutfit("${outfit[8].ID}")' class="profile img-delete${outfit[8].ID} delete">X</button>`;
                currSend += `<button onclick='deleteOutfitCancel("${outfit[8].ID}")' style="display:none" class="profile img-delete-Cancel${outfit[8].ID} delete-cancel">Cancel</button>`;
                currSend += `
                <div class="profile clothing-item-img">
                    <img src="${outfit[7].URL}"> 
                </div>
                ` 
                currSend += `</div>`;
            }
            currSend += `<div class="profile item-container">`;
            if(outfit[0].itemName != 'none'){
                currSend += `
                <a href="https://www.google.com/search?btnG=1&pws=0&q=${outfit[0].brand} ${outfit[0].itemName}" target="_blank">
                <div class="profile clothing-item">
                    <p class="profile pt p-type"> ${outfit[0].type}</p>
                    <p class="profile pt p-brand"> ${outfit[0].brand}</p>
                    <p class="profile pt p-name">  ${outfit[0].itemName}</p>
                </div>
                </a>
                `
            }
            if(outfit[1].itemName != 'none'){
                currSend += `
                <a href="https://www.google.com/search?btnG=1&pws=0&q=${outfit[1].brand} ${outfit[1].itemName}" target="_blank">
                <div class="profile clothing-item">
                    <p class="profile pt p-type"> ${outfit[1].type}</p>
                    <p class="profile pt p-brand"> ${outfit[1].brand}</p>
                    <p class="profile pt p-name">  ${outfit[1].itemName}</p>
                </div>
                </a>
                ` 
            }
            if(outfit[2].itemName != 'none'){
                currSend += `
                <a href="https://www.google.com/search?btnG=1&pws=0&q=${outfit[2].brand} ${outfit[2].itemName}" target="_blank">
                <div class="profile clothing-item">
                    <p class="profile pt p-type">  ${outfit[2].type}</p>
                    <p class="profile pt p-brand"> ${outfit[2].brand}</p>
                    <p class="profile pt p-name">  ${outfit[2].itemName}</p>
                </div>
                </a>
                ` 
            }
            if(outfit[3].itemName != 'none'){
                currSend += `
                <a href="https://www.google.com/search?btnG=1&pws=0&q=${outfit[3].brand} ${outfit[3].itemName}" target="_blank">
                <div class="profile clothing-item">
                    <p class="profile pt p-type">  ${outfit[3].type}</p>
                    <p class="profile pt p-brand"> ${outfit[3].brand}</p>
                    <p class="profile pt p-name">  ${outfit[3].itemName}</p>
                </div>
                </a>
                ` 
            }
            if(outfit[4].itemName != 'none'){
                currSend += `
                <a href="https://www.google.com/search?btnG=1&pws=0&q=${outfit[4].brand} ${outfit[4].itemName}" target="_blank">
                <div class="profile clothing-item">
                    <p class="profile pt p-type">  ${outfit[4].type}</p>
                    <p class="profile pt p-brand"> ${outfit[4].brand}</p>
                    <p class="profile pt p-name">  ${outfit[4].itemName}</p>
                </div>
                </a>
                ` 
            }
            if(outfit[5].itemName != 'none'){
                currSend += `
                <a href="https://www.google.com/search?btnG=1&pws=0&q=${outfit[5].brand} ${outfit[5].itemName}" target="_blank">
                <div class="profile clothing-item">
                    <p class="profile pt p-type">  ${outfit[5].type}</p>
                    <p class="profile pt p-brand"> ${outfit[5].brand}</p>
                    <p class="profile pt p-name">  ${outfit[5].itemName}</p>
                </div>
                </a>
                ` 
            }
            if(outfit[6].itemName != 'none'){
                currSend += `
                <a href="https://www.google.com/search?btnG=1&pws=0&q=${outfit[6].brand} ${outfit[6].itemName}" target="_blank">
                <div class="profile clothing-item">
                    <p class="profile pt p-type">  ${outfit[6].type}</p>
                    <p class="profile pt p-brand"> ${outfit[6].brand}</p>
                    <p class="profile pt p-name">  ${outfit[6].itemName}</p>
                </div>
                </a>
                ` 
            }
            currSend += `</div>`;
            return currSend;
            i++;
        }).join('');
        outfitList.innerHTML = dataFeed;
    })
    .catch(err => { throw err });














function outfitSelect(item){
    // go through each item of that first array column
    for(var y = 0; y < item.length; y++) {
        var selected;
        var option = '';
        var el;
        if(item[y].type == 'Accessories'){
            selected = document.getElementById('accessorieSelect');
            option = item[y];

        }
        else if(item[y].type == 'Hats'){
            selected = document.getElementById('hatSelect');
            option = item[y];
        }
        else if(item[y].type == 'Outerwear'){
            selected = document.getElementById('outerwearSelect');
            option = item[y];
        }
        else if(item[y].type == 'Tops'){
            selected = document.getElementById('topSelect');
            option = item[y];
        }
        else if(item[y].type == 'Bottoms'){
            selected = document.getElementById('bottomSelect');
            option = item[y];
        }
        else if(item[y].type == 'FullBody'){
            selected = document.getElementById('fullbodySelect');
            option = item[y];
        }
        else if(item[y].type == 'Shoes'){
            selected = document.getElementById('shoeSelect');
            option = item[y];
        }
        if(option != ''){
            el = document.createElement("option");
            el.textContent = option.itemName;
            selected.appendChild(el);
        }
    }
}

</script>
