

{{#if success_msg}}
    <p>{{ success_msg }}</p>
{{/if}}

<div class="profile main-grid-container">
    <div class="profile main-grid-item"></div>
    <div class="profile main-grid-item addItem">
        <h1>Create outfit & add Items</h1>
        <div class="profile add-select">
            <h2 class="profile addItem-title" onclick="showItem()">Add Item</h2> 
            <h2 class="profile addOutfit-title" style="text-decoration-color:black;" onclick="showOutfit()">add Outfit</h2>
        </div> 
            <form action="http://localhost:5000/dashboard/addItem" method="POST">
                <p class="profile addItem-text">What type of clothing is it?</p>
                <div class="profile dropdown-container">
                <select class="profile addItem-dropdown input" type="text" name="type" id="">
                    <option value="Accessories">Accessories</option>
                    <option value="Hats">Hats</option>
                    <option value="Outerwear">Outerwear</option>
                    <option value="Tops">Tops</option>
                    <option value="Bottoms">Bottoms</option>
                    <option value="FullBody">Full Body</option>
                    <option value="Shoes">Shoes</option>
                </select>
                </div>
                <p class="profile addItem-text">what brand is it?</p>
                <input class="profile addItem-brand input" type="text" name="brand" placeholder="i.e. nike" id="" required>

                <p class="profile addItem-text">what's the name?</p>
                <input class="profile addItem-name input" type="text" name="itemName" placeholder="i.e. airforce 1's " id=""required>
                <br>
                <input class="profile addItem-name button" type="submit" value="add clothing item!" class="">
            </form>
        </div>

        <div class="profile main-grid-item addOutfit">
        <h1>Create outfit & add Items</h1>
         <div class="profile add-select">
            <h2 class="profile addItem-title" onclick="showItem()">Add Item</h2> 
            <h2 class="profile addOutfit-title" style="text-decoration-color:black;" onclick="showOutfit()">add Outfit</h2>
        </div> 
            <form action="http://localhost:5000/dashboard/addOutfit" method="POST" enctype="multipart/form-data">
                <p class="profile addOutfit-text">jpeg or png images only</p>
                <div class="profile p-image-upload">
                    <label for="file-input">
                        <img class="profileImgUpload" src="https://res.cloudinary.com/db8tnyh6d/image/upload/v1590428149/clothing-users-app/Add_Photo_wip2xb.svg"/>
                    </label>
                    <input id="file-input" name="file" type="file" onchange="readURL(this);"/>
                </div>
                <p class="profile addOutfit-text">Accessories:</p>
                <select class="profile addItem-dropdown input" type="text" name="Accessories" id="accessorieSelect">
                    <option value="none">None</option>
                </select>
                <p class="profile addOutfit-text">Hat:</p>
                <select class="profile addItem-dropdown input" type="text" name="Hats" id="hatSelect">
                    <option value="none">None</option>
                </select>

                <p class="profile addOutfit-text">Outerwear:</p>
                <select class="profile addItem-dropdown input" type="text" name="Outerwear" id="outerwearSelect">
                    <option value="none">None</option>
                </select>

                <p class="profile addOutfit-text">Top:</p>
                <select class="profile addItem-dropdown input" type="text" name="Tops" id="topSelect">
                    <option value="none">None</option>
                </select>

                <p class="profile addOutfit-text">Bottom:</p>
                <select class="profile addItem-dropdown input" type="text" name="Bottoms" id="bottomSelect">
                    <option value="none">None</option>
                </select>

                <p class="profile addOutfit-text">Full Body:</p>
                <select class="profile addItem-dropdown input" type="text" name="FullBody" id="fullbodySelect">
                    <option value="none">None</option>
                </select>

                <p class="profile addOutfit-text">Shoes:</p>
                <select class="profile addItem-dropdown input" type="text" name="Shoes" id="shoeSelect">
                    <option value="none">None</option>
                </select>

                <input type="submit" value="Make Outfit" class="">
            </form>
    </div>


    
    {{!-- <p>Welcome {{name}}</p> --}}
    <div class="profile main-grid-item profile-part">
        <div class="profile info-container">
            <div class='profile profilepic-div'>
                <img class='profile-profile-image' src='{{img}}' alt=''>
            </div>
            <div class='profile post-amount'></div>
            <div class='profile item-amount'></div>
        </div>
        <p class='profile name'>{{name}}</p>
        <p class='profile username'>@{{userName}}</p>
        <div class="profile view-choice">
            <p onclick="showProfileOutfits()">Outfits</p>
            <p onclick="showWardrobeOutfits()">Wardrobe</p>
        </div>
        <div id="outfitList" class="profile outfit-list-container"></div>
        <div id="clothesList" class="row"></div>
    </div>

    <div class="profile main-grid-item profile-part"></div>

</div>



<script>

        showProfileOutfits();
        
        function showProfileOutfits(){
             document.querySelector('#clothesList').style.display = 'none';
             document.querySelector('.profile.outfit-list-container').style.display = 'grid';
        }

        function showWardrobeOutfits(){
            document.querySelector('.profile.outfit-list-container').style.display = 'none';
            document.querySelector('#clothesList').style.display = 'initial';
        }




    document.getElementById("file-input").onchange = function () {
        var reader = new FileReader();
        reader.onload = function (e) {
            // get loaded data and render thumbnail.
            document.querySelector(".profileImgUpload").src = e.target.result;
            document.querySelector(".profileImgUpload").style.height = "200px";
            document.querySelector(".profileImgUpload").style.left = "0";
        };
        reader.readAsDataURL(this.files[0]);
        var cropFile = this.files[0];
    };

    document.addEventListener('load', showItem());

    function showItem(){       
        document.querySelector('.profile.main-grid-item.addOutfit').style.display = 'none';
        document.querySelector('.profile.main-grid-item.addItem').style.display = 'initial';

        for(i = 0; i < 2; i++){
            document.querySelectorAll('.addItem-title')[i].style.transitionDuration = '0.4s';

           // document.querySelectorAll('.addItem-title')[i].style.fontStyle = 'italic';
            //document.querySelectorAll('.addOutfit-title')[i].style.fontStyle = 'normal';  
            document.querySelectorAll('.addItem-title')[i].style.border = '2px solid black';
            document.querySelectorAll('.addOutfit-title')[i].style.border = 'none';
        }
        
    }

    function showOutfit(){
        document.querySelector('.profile.main-grid-item.addItem').style = 'display:none';
        document.querySelector('.profile.main-grid-item.addOutfit').style.display = 'initial';

        for(i = 0; i < 2; i++){
            document.querySelectorAll('.addOutfit-title')[i].style.transitionDuration = '0.4s';

           // document.querySelectorAll('.addItem-title')[i].style.fontStyle = 'normal';
           // document.querySelectorAll('.addOutfit-title')[i].style.fontStyle = 'italic';
            document.querySelectorAll('.addItem-title')[i].style.border = 'none';
            document.querySelectorAll('.addOutfit-title')[i].style.border = '2px solid black';
        }
    }

const idNames = ['accessorieSelect', 'hatSelect', 'outerwearSelect', 'topSelect', 'bottomSelect', 'fullbodySelect', 'shoeSelect'];
//This Script makes a fetch (essential a GET Http) request to the server
const clothesAmount = document.getElementById('post-amount');
const clothesList = document.getElementById('clothesList');
fetch('http://localhost:5000/dashboard/getClothes')
    .then(res => res.json())
    .then((item) => {
        //clothesAmount.innerHTML = item.length
        //.map() is used to cycle through the array, and a template literal is used to return HTML for
        //each item in the array. We call these contact, and we can access items inside each contact, using contact.NAMEOFITEM. InnerHTML is then used to parse the returned HTML to the contactList object
        let dataFeed = item.map((item) => {
            return `
            <br>
            <div>
                <p>${item.type}</p>
                <p>${item.brand}</p>
                <p>${item.itemName}</p>
            </div>
            <hr>
        `
        }).join('');
        //console.log(dataFeed)
        clothesList.innerHTML = dataFeed;
        outfitSelect(item);
    })
    .catch(err => { throw err });



//  
// 
// 

const itemAmount = document.getElementById('item-amount');
//This Script makes a fetch (essential a GET Http) request to the server
const outfitList = document.getElementById('outfitList');
fetch('http://localhost:5000/dashboard/getOutfits')
    .then(res => res.json())
    .then((outfits) => {
        clothesNum = outfits.length;
        var dataFeed;
        dataFeed = outfits.map((outfit) => {
            var currSend = ``;
            if(outfit[7].URL != 'none'){
                currSend += `<div class="profile img-container">`;
                currSend += `
                <div class="profile clothing-item-img">
                    <img src="${outfit[7].URL}"> 
                </div>
                ` 
                currSend += `</div>`;
            }
            currSend += `<div class="profile item-container">`;
            if(outfit[0].itemName != 'none'){
                currSend += `
                <div class="profile clothing-item">
                    <p> ${outfit[0].type}</p>
                    <p> make: ${outfit[0].brand}</p>
                    <p> item: ${outfit[0].itemName}</p>
                </div>
                `
            }
            if(outfit[1].itemName != 'none'){
                currSend += `
                <div class="profile clothing-item">
                    <p> ${outfit[1].type}</p>
                    <p> make: ${outfit[1].brand}</p>
                    <p> item: ${outfit[1].itemName}</p>
                </div>
                ` 
            }
            if(outfit[2].itemName != 'none'){
                currSend += `
                <div class="profile clothing-item">
                    <p>  ${outfit[2].type}</p>
                    <p> make: ${outfit[2].brand}</p>
                    <p> item: ${outfit[2].itemName}</p>
                </div>
                ` 
            }
            if(outfit[3].itemName != 'none'){
                currSend += `
                <div class="profile clothing-item">
                    <p>  ${outfit[3].type}</p>
                    <p> make: ${outfit[3].brand}</p>
                    <p> item: ${outfit[3].itemName}</p>
                </div>
                ` 
            }
            if(outfit[4].itemName != 'none'){
                currSend += `
                <div class="profile clothing-item">
                    <p>  ${outfit[4].type}</p>
                    <p> make: ${outfit[4].brand}</p>
                    <p> item: ${outfit[4].itemName}</p>
                </div>
                ` 
            }
            if(outfit[5].itemName != 'none'){
                currSend += `
                <div class="profile clothing-item">
                    <p>  ${outfit[5].type}</p>
                    <p> make: ${outfit[5].brand}</p>
                    <p> item: ${outfit[5].itemName}</p>
                </div>
                ` 
            }
            if(outfit[6].itemName != 'none'){
                currSend += `
                <div class="profile clothing-item">
                    <p>  ${outfit[6].type}</p>
                    <p> make: ${outfit[6].brand}</p>
                    <p> item: ${outfit[6].itemName}</p>
                </div>
                ` 
            }
            currSend += `</div>`;
            return currSend;
        }).join('');
        outfitList.innerHTML = dataFeed;
    })
    .catch(err => { throw err });














function outfitSelect(item){
    // go through each item of that first array column
    for(var y = 0; y < item.length; y++) {
        var selected;
        var option = '';
        var el;
        if(item[y].type == 'Accessories'){
            selected = document.getElementById('accessorieSelect');
            option = item[y];

        }
        else if(item[y].type == 'Hats'){
            selected = document.getElementById('hatSelect');
            option = item[y];
        }
        else if(item[y].type == 'Outerwear'){
            selected = document.getElementById('outerwearSelect');
            option = item[y];
        }
        else if(item[y].type == 'Tops'){
            selected = document.getElementById('topSelect');
            option = item[y];
        }
        else if(item[y].type == 'Bottoms'){
            selected = document.getElementById('bottomSelect');
            option = item[y];
        }
        else if(item[y].type == 'FullBody'){
            selected = document.getElementById('fullbodySelect');
            option = item[y];
        }
        else if(item[y].type == 'Shoes'){
            selected = document.getElementById('shoeSelect');
            option = item[y];
        }
        if(option != ''){
            el = document.createElement("option");
            el.textContent = option.itemName;
            selected.appendChild(el);
        }
    }
}

</script>
